@model CMSViewModelDemo.Models.Address


<h2>Employee Address Details</h2>
<div>

    DoorNo:@Model.DNo
</div>
<div>
    StreetName, City :@Model.StName, @Model.City
</div>
<div>
    State, Country : @Model.State, @Model.country
</div>
